<div>
  <h2 id="page-heading" data-cy="CompanyHeading">
    <span>Companies</span>

    <div class="d-flex justify-content-end">
      <button mat-flat-button color="accent" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon [icon]="'sync'"></fa-icon>
        <span>Refresh</span>
      </button>

      <button mat-flat-button color="primary" [routerLink]="['/companies/new']" class="mx-lg-2">
        <fa-icon icon="plus"></fa-icon>
        <span>Create</span>
      </button>
    </div>
  </h2>

  <alert-error-component></alert-error-component>

  <alert-component></alert-component>

  <div class="alert alert-warning" id="no-result" *ngIf="companies?.length === 0">
    <span>No companies found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="companies && companies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Name</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let company of companies; trackBy: trackId" data-cy="entityTable">
          <td>{{ company.name }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button mat-flat-button color="primary" [routerLink]="['/companies', company.id, 'edit']">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button mat-flat-button color="warn" (click)="delete(company)" class="mx-lg-2">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
