<div class="row">
  <div class="col-md-3"></div>

  <div class="col-md-9">
    <h1 class="display-4">Welcome to Employee App</h1>

    <p>Navigate to:</p>

    <ul>
      <li>
        <a routerLink="/employee" rel="noopener noreferrer">Employees</a>
      </li>
      <li>
        <a routerLink="/company" rel="noopener noreferrer">Companies</a>
      </li>
    </ul>

    <p>Or</p>

    <ul>
      <li>
        <a routerLink="/employee/new" rel="noopener noreferrer">Create an Employee</a>
      </li>
      <li>
        <a routerLink="/company/new" rel="noopener noreferrer">Create a Company</a>
      </li>
    </ul>

    <p>
      <span>Check project on</span>
      <a href="https://github.com/teoxant/employee-app" target="_blank" rel="noopener noreferrer">GitHub</a>!
    </p>
  </div>
</div>
